@import "tailwindcss";

.product-carousel .swiper-button-next,
.product-carousel .swiper-button-prev
{
    color: black;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;

}